body {
  padding: 10px;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(135,202,241,1) 0%, rgba(145,213,223,1) 35%);
  grid-template-areas:
  'game-board-container game-board-container game-board-container game-board-container'
  'choice-card-container right right'
  'menu footer footer footer footer footer';

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#game-board {
  padding: 10px;
  border: 1px solid black; 
  margin: 0 15%;
  /* display: grid; */
  /* grid-gap: 1px; */
}


.cell {
  width: 100%;
  height: 100%;
  /* background: rgb(150, 131, 131); */
  background:rgba(28, 107, 40, 0.09);

}


.cell-hover {
  opacity: 0.2; 
}

.empty {
  /* background-color: lightgrey; */
  /* border: 1px solid grey; */
  z-index: 0;
}

.room{
  z-index: 1;
}

.possible{
  background-color: brown;
  opacity: 0.5;
}

.red {
  background-color:#E9645D;
  z-index: 0;
}

#game-board-container {

  background: linear-gradient(90deg, rgba(57,181,74,1) 0%, rgba(126,197,97,1) 35%);
}

#inventory-container {
  /* background: linear-gradient(90deg, rgba(135,202,241,1) 0%, rgba(145,213,223,1) 35%); */
  background-color: #F2DF8F;  
}


.room-selected > * {
    box-sizing: border-box;
    border: 2px solid black;
    border-collapse: collapse;
    overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color:#F2DF8F; */
  
}

.selected-card{
  background-color: lightblue;
}

.unselected {
  opacity: 0.6;
}

/* #choice-card-container {
  display: flex;
  
} */

#choice-card-container > * {
    width: 20%;
    margin: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    background-color:#F2DF8F;
}

#choice-card-container {
  display: flex;
  background-color:#F2DF8F;
}  

.room-card-grid {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  grid-template-rows: repeat(5, 20px);
}


#grid-layout{
  display: grid;
  grid-template-columns: 6fr 1.5fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "game-board inventory" "choice-card inventory";
} 

#game-board-container { 
  grid-area: game-board; 
  padding-left: 25px; 
  padding-right: 25px;
  margin: 5px;

}

#choice-card-container { 
  grid-area: choice-card;
  padding-left: 25px; 
  padding-right: 25px;
  margin: 5px;

}

#inventory-container h3{
  text-align: center;
}

#inventory-container { 
  margin: 5px;
  grid-area: inventory; 
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
<<<<<<< HEAD
  grid-area: inventory; 
  float: right;
  align-self: center;

}

#level-container {grid-area: level; }