body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CFB35F;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#game-board {
  border: 1px solid black; 
  margin: 0 15%;
  /* display: grid; */
  /* grid-gap: 1px; */
}


.cell {
  width: 100%;
  height: 100%;
  /* background: rgb(150, 131, 131); */
  background:rgba(28, 107, 40, 0.09);

}


.cell-hover {
  opacity: 0.2; 
}

.empty {
  /* background-color: lightgrey; */
  /* border: 1px solid grey; */
  z-index: 0;
}

.room{
  z-index: 1;
}

.possible{
  background-color: brown;
  opacity: 0.5;
}

.red {
  background-color:#E9645D;
  z-index: 0;
}

#game-board-container {

  background: linear-gradient(90deg, rgba(57,181,74,1) 0%, rgba(126,197,97,1) 35%);
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color:#F2DF8F; */
  
}

.selected-card{
  background-color: lightblue;
}

.unselected {
  opacity: 0.6;
}

#choice-card-container {
  display: flex;
  
}

#choice-card-container > * {
    width: 20%;
    margin: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    background-color:#F2DF8F;

}

#choice-card-container {
  display: flex;
  background-color:#F2DF8F;
}  

.room-card-grid {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  grid-template-rows: repeat(5, 20px);
}